body {
    font-family: 'Muli', sans-serif;
    background-image: url("../img/lauren.png");
    background-size: 300px;
    font-weight: 200;
    height: 100%;
    background-position: 100px bottom;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	pointer-events: auto;
  	position: relative;
}

.jumbotron {
	background-color: transparent;
	border: 2px solid #000;
	border-radius: none;
	height: 600px;
	padding: 30px !important;
}

a {
	color: #000;
}

a:hover {
	color: #BDECB6;
	text-decoration:none;
}

.links {
	color: #000;	
	font-size: 64px;
}

a.links:hover {
	color: #BDECB6;
	text-decoration: none;
}

.links:focus{
	color: none;
	text-decoration: none;
}

.links:visited, .links:focus {
	color: none;
}

img {
	width: 100%	;
}

#resume {
 	display:none;
}

#portfolio {
	display:none;
}

#personal {
	display:none;
}

#contact {
	display:none;
}

.disableClick{
    pointer-events: none;
}

.clicked {
	color: #BDECB6;
}


#moves {
	position: relative;
}

h3 {
	display:inline;
}

h3.media-heading {
	display:block;
}

#portfolio img, #personal img, #contact img {
	width: 100%;
}


#title {
	margin-right: 15px;
	z-index: 1000;
}

.demo {
	position: relative;
}

#resumesublinks {
	font-size: 24px;
	display:none;
}

#personalimagethumbnails {
	display:none;
}

#personalimagethumbnails {
	display: inline-block;
	display: none;
}

#personalimagethumbnails img {
	width: 75px;
	box-shadow: 0px 2px 2px #f2f2f2;
	border: 1px solid #d2d2d2;
	-webkit-transition: all 0..1s linear;
    transition: all 0.1s linear;
  	-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    margin: 5px;
}


#personalimagethumbnails img:hover {
	width: 75px;
	box-shadow: 0px 3px 3px #d2d2d2;
	border: 1px solid #BDECB6;
	-webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
    z-index: 10000;
}